body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    background-color: rgb(30, 34, 170);
    position: relative; /* Add position relative here */
}

#logo {
    height: auto;
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%); /* Corrected to -50% to center it properly */
    height: 75%;
    width: auto;
    opacity: 0.2; /* Or 1 if you decide on full opacity */
    z-index: 0;
    pointer-events: none; /* Ignores all mouse events */
}

.button-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px; /* Adjust gap as needed */
    width: auto; 
    padding: 20px; 
    z-index: 0;
}

.option-button {
    padding: 100px; /* Larger buttons */
    font-size: 24px; /* Larger text */
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: transform 0.2s;
    height: 150px; /* Set the height of the buttons */
}

.option-button:hover {
    transform: scale(1.05);
}

#option1 {
    background-color: #FF5733; /* Red */
}

#option2 {
    background-color: #33FF57; /* Green */
}

#option3 {
    background-color: #3357FF; /* Blue */
}

#option4 {
    background-color: #F033FF; /* Purple */
}

#nfc-input {
    position: absolute;
    left: -9999px;
}

/* Add styles for logout button */
.logout-button {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #f00;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.logout-button:hover {
    background-color: #d00;
}

.credits-bar {
    background-color: white;
    height: 50px; /* Adjust the height as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute; /* Change position to absolute */
    width: 100%; /* Make it span the full width */
    top: 0; /* Position it at the top */
    z-index: 1; /* Ensure it's above other elements */
    margin-bottom: 20px; /* Add margin-bottom to create space between credits bar and buttons */
}

#user-credits {
    font-size: 18px; /* Adjust the font size as needed */
    margin-right: 10px; /* Add margin to separate credits from name */
}

#user-name {
    font-size: 18px; /* Adjust the font size as needed */
}

#user-cans {
    font-size: 18px; /* Adjust the font size as needed */
    margin-left: 10px; /* Add margin to separate credits from name */
}
